html{
    background: white;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: black;
    border-top: 20px solid black;
    background: white;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted white;
}

.blog-post {
    border-bottom: 1px dotted white;
}

.gamers {
    background: gray;
    position: sticky;
    top: 0;
}

section {
    background-color: cyan;
    display: flex;
    padding: 20px;
    margin: 20px;
}

article {
    background-color: blue;
    padding: 20px;
    margin: 20px;
}

.float-image {
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 8px; 
}

aside {
    background-color: aquamarine;

}

header {
    background: greenyellow;
}
