html{
    background: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: black;
    border-top: 10px solid black;
    background: white;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted white;
}

.blog-post {
    border-bottom: 1px dotted white;
}

.gamers {
    background: gray;
    position: sticky;
    top: 0;
}

section {
    background-color: cyan;
    display: flex;
}

article {
    background-color: blue;
    padding: 20px;
    margin: 20px;
}

.float-image {
    float: left;
    height: auto;
    border-radius: 8px; 
}
